eclipse
eclipse/.metadata/.log
eclipse/.metadata/.log
eclipse/.metadata/.log
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/.syncinfo.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Client/org.eclipse.jdt.core/state.dat
eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse/.metadata/.plugins/org.eclipse.core.resources/5.snap
eclipse/.metadata/.plugins/org.eclipse.jdt.core/137624701.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/2403487921.index
eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse/.metadata/.plugins/org.eclipse.m2e.logback/0.log
eclipse/.metadata/version.ini

eclipse/.metadata/.log
